@import "assets/styles/variables";
@import "assets/styles/utils";

.upload-avatar {
  &__preview {
    font-size: 6rem;
    position: relative;
    width: spacing(36);
    height: spacing(36);
    background-color: #f5f5f5;
    border-radius: 50%;

    .trigger-upload-avatar {
      position: absolute;
      bottom: 0;
      right: 0;
      width: spacing(10);
      height: spacing(10);
      border-radius: 50%;
      background-color: $color-white;
      box-shadow: 0 12px 12px rgba(0, 0, 0, 0.12);

      svg {
        width: spacing(5);
      }
    }
  }
}
