@font-face {
  font-family: "SFProDisplay-Light";
  src: local("SFProDisplay-Light"),
      url("../fonts/SFProDisplay-Light.woff"),
      url("../fonts/SFProDisplay-Light.woff2");
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Regular";
  src: local("SFProDisplay-Regular"),
      url("../fonts/SFProDisplay-Regular.woff"),
      url("../fonts/SFProDisplay-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Medium";
  src: local("SFProDisplay-Medium"),
      url("../fonts/SFProDisplay-Medium.woff"),
      url("../fonts/SFProDisplay-Medium.woff2");
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-SemiBold";
  src: local("SFProDisplay-SemiBold"),
      url("../fonts/SFProDisplay-SemiBold.woff"),
      url("../fonts/SFProDisplay-SemiBold.woff2");
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Bold";
  src: local("SFProDisplay-Bold"),
      url("../fonts/SFProDisplay-Bold.woff"),
      url("../fonts/SFProDisplay-Bold.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"),
      url("../fonts/Gilroy-Medium.woff"),
      url("../fonts/Gilroy-Medium.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"),
      url("../fonts/Gilroy-Bold.woff"),
      url("../fonts/Gilroy-Bold.woff2");
  font-display: swap;
}
