@import "assets/styles/variables";
@import "assets/styles/utils";

.nav {
  flex-wrap: nowrap;
  margin-bottom: spacing(6);

  &-item {
    &:not(:last-child) {
      margin: 0 spacing(3) 0 0;
    }
  }

  &-link {
    font-family: SFProDisplay-Regular, sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    display: inline-block;
    padding: spacing(3) spacing(6);
    background-color: $color-white;
    border-radius: spacing(8);
    border: 1px solid #d9d9d9;
    white-space: nowrap;
    transition: .2s ease;

    &.nuxt-link-active {
      color: $color-white;
      background-color: $color-black;
      border-color: $color-black;
    }
  }
}

@media (min-width: $screen-md) {
  .nav {
    margin-bottom: spacing(10);
  }
}
