@import "assets/styles/variables";
@import "assets/styles/utils";

.auth-form {
  &__title {
    font-family: Gilroy-Bold, sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: spacing(6);
  }

  &__subtitle {
    line-height: 2rem;
    color: $color-text-secondary;
    margin-top: spacing(-5);
    margin-bottom: spacing(6);
  }

  &__forgot-pass {
    display: inline-flex;
    align-items: center;
    margin: spacing(1) 0 spacing(4) 0;
    color: $color-text-secondary;

    svg {
      margin-right: spacing(1);
    }
  }
}

.auth-links {
  &__item {
    flex: 1;

    + .auth-links__item {
      margin-left: spacing(4);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: spacing(14);
    border-radius: $base;
    border: 1px solid $border-color;
    transition: background .3s ease;
    cursor: pointer;

    &:hover {
      background-color: #f2f2f2;
    }
  }
}

.policy-agreement {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: $color-text-secondary;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

@media (min-width: 575px) {
  .auth-form {
    &__title {
      font-size: 2.8rem;
      line-height: 4rem;
      margin-bottom: spacing(8);
    }

    &__subtitle {
      margin-top: spacing(-7);
      margin-bottom: spacing(8);
    }
  }
}
