@import "assets/styles/variables";
@import "assets/styles/utils";

.page {
  &-body {
    padding: spacing(7) 0 spacing(12) 0;
  }
}

.favourite-products {
  .el-col {
    margin-bottom: spacing(10);
  }

  .pagination {
    margin-top: spacing(4);
  }
}

@media (min-width: $screen-md) {
  .page {
    &-body {
      padding: spacing(10) 0 spacing(16) 0;
    }
  }

  .favourite-products {
    .el-col {
      margin-bottom: 0;

      + .el-col {
        margin-top: spacing(8);
        padding-top: spacing(8);
        border-top: 1px solid $border-color;
      }
    }

    .pagination {
      margin-top: spacing(12);
    }
  }
}
