@import "assets/styles/variables";
@import "assets/styles/utils";

.seller-badge {
  &__logo {
    width: spacing(12);
    height: spacing(12);
    background-color: #F5f5f5;
    border-radius: 50%;

    .el-image {
      max-width: spacing(7);
      max-height: spacing(7);
      font-size: 2rem;
    }
  }

  &__info {
    padding-left: spacing(3);
    line-height: 2rem;
  }

  &__name {
    font-family: SFProDisplay-Regular, sans-serif;
  }

  &__placeholder {
    font-size: 1.2rem;
    color: $color-text-placeholder;
  }
}
